:root {
    --primaryColor: #262f3d;
    --secondaryColor: #c40606;
    --bgMenuActive: #262f3d;
    --bgButton: #c40606;
    --logoImageUrl: url('https://th.bing.com/th/id/OIP.aZYblgWctP70ClsdlSiAAgHaHo?rs=1&pid=ImgDetMain');
    --bgAside: var(--primaryColor);
}
